{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Rango{% endblock %}
{% block body_block %}

    	<!--IMPORTANT: An example on how to use Django template language-->
    	<!--To show the username on the header if has logged-in-->
    	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}

        {% if categories %}
            <ul>
                {% for category in categories %}
    				<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

       {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}

        

	<!--To link to a certain url (A url for a certain view, not a template name), 前缀（因为在同一目录下）省略-->
    <!--
    	<ul>
    	{% if user.is_authenticated %}
        	<li><a href="{% url 'restricted' %}">Restricted Page</a></li>
        	<li><a href="{% url 'logout' %}">Logout</a></li>
        	<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
    	{% else %}
        	<li><a href="{% url 'register' %}">Register Here</a></li>
        	<li><a href="{% url 'login' %}">Login</a></li>
    	{% endif %}

    	<li><a href="{% url 'about' %}">About</a></li>
    	</ul>
    	-->

{% endblock %}